$card-play-control: $play-control;
$card-hover-scale: $default-scale-up;
$card-transition-duration: $default-transition-duration;
$card-transition-timing: $default-transition-timing;

.card {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: transform $card-transition-duration $card-transition-timing;
  &:hover {
    transform: scale($card-hover-scale);
  }
  &--no-preview {
    background-image: url($imagepath + $card-play-control);
    background-size: 10rem;
    background-position: 50%;
  }
}
