$card-play-control: $play-control;
$card-hover-scale: $default-scale-up;
$card-transition-duration: $default-transition-duration;
$card-transition-timing: $default-transition-timing;

.card {
  transition: transform $card-transition-duration $card-transition-timing;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 100%;
  height: 100%;
  &:hover {
    transform: scale($card-hover-scale);
  }
  &__img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &--no-preview {
    background-image: url($imagepath + $card-play-control);
    background-position: 50%;
    background-size: 10rem;
  }
}
