$app-master-image-bg-position: 95% 95%;
$app-master-bg: $primary-logo;
$app-master-bg-size: 5rem;
$app-recent-border: 2px solid $type-color-highlight;
$app-master-height: 30rem;

.app {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  &__master,
  &__detail {
    width: 100%;
  }

  &__master {
    overflow: hidden;
    background-color: $brand-secondary;
    background-image: url($imagepath + $app-master-bg);
    background-repeat: no-repeat;
    background-size: $app-master-bg-size;
    background-position: $app-master-image-bg-position;
    position: relative;
    min-height: $app-master-height;
  }

  &__recent {
    flex-basis: 100%;
    border-top: $app-recent-border;
    padding: ($spacing * 2) 0;
  }

  &__detail,
  &__recent {
    padding: ($spacing * 2);
  }
}

@media (min-width: 767px) {
  .app__master,
  .app__detail {
    flex-basis: 50%;
    width: 50%;
  }
}
