$app-master-image-bg-position: 95% 95%;
$app-master-bg: $primary-logo;
$app-master-bg-size: 5rem;
$app-recent-border: 2px solid $type-color-highlight;
$app-master-height: 30rem;

.app {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  &__detail {
    @include breakpoint(tablet-desktop) {
      flex-basis: 60%;
      width: 60%;
    }
  }

  &__master,
  &__detail {
    width: 100%;
  }

  &__search {
    padding: $spacing 0;
  }

  &__master {
    position: relative;
    background-color: $brand-secondary;
    background-image: url($imagepath + $app-master-bg);
    background-repeat: no-repeat;
    background-position: $app-master-image-bg-position;
    background-size: $app-master-bg-size;
    min-height: $app-master-height;
    overflow: hidden;
    @include breakpoint(tablet-desktop) {
      flex-basis: 40%;
      width: 40%;
    }
  }

  &__recent {
    flex-basis: 100%;
    border-top: $app-recent-border;
    padding: ($spacing * 2) 0;
  }

  &__detail,
  &__recent {
    padding: ($spacing * 2);
  }
}

