.results {
  padding: ($spacing * 2) 0;
  &__item {
    font-weight: $font-light;
    font-size: $font-size-type;
    line-height: $global-line-height;
    padding: $spacing ($spacing / 2);
    cursor: pointer;
    &--default {
      &:hover, &:active, &:focus {
        color: $type-color-highlight;
      }
    }
    &--recent {
      color: $type-color-light;
      padding: $spacing ($spacing * 2);
      margin-left: -($spacing * 2);
      margin-right: -($spacing * 2);
      &:nth-child(even) {
        background-color: $brand-secondary;
      }
      &:hover,
      &:active,
      &:focus {
        color: $type-color-base;
      }
    }
  }
  &__title {
    font-weight: $font-bold;
    font-size: $font-size-title;
    color: $type-color-base;
    margin-bottom: $spacing;
  }
}
