$search-height: 3rem;
$search-btn-height: 1.5rem;
$search-btn-width: 2.5rem;

.search {
  display: flex;
  align-items: center;
  border: 1px solid $type-color-base;
  border-radius: .5rem;
  background-color: $brand-light;
  height: $search-height;
  overflow: hidden;
}

.search__input {
  flex-grow: 1;
  background-color: transparent;
  padding: ($spacing / 2);
}

.search__btn {
  background: url($uri-search-icon) 50% no-repeat;
  background-size: $search-btn-height;
  width: $search-btn-width;
  height: $search-btn-height;
}
