.search {
  display: flex;
  border-radius: .5rem;
  background-color: white;
  overflow: hidden;
  height: 3rem;
  align-items: center;
  border: 1px solid $type-color-base;
}

.search__input {
  flex-grow: 1;
  background-color: transparent;
  padding: .5rem;
}

.search__btn {
  background: url($uri-search-icon) 50% no-repeat;
  height: 1.5rem;
  background-size: 1.5rem;
  width: 2.5rem;
}
