// basic Reset : http://meyerweb.com/eric/tools/css/reset
// omitting not needed code.

html,
body,
div,
iframe,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}
