// scaffolding baseline.

* {
  box-sizing: border-box;
}

html {
  font-size: $base-html-reset;
}

body {
  line-height: $global-line-height;
  font-family: $primary-font-family, $fallback-font-family;
  font-size: $base-font-reset;
}

input,
button {
  outline: 0;
  border: 0;
  box-shadow: none;
}

input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

@font-face {
  @include font-face(Overpass, Regular);
  font-display: swap;
}

@font-face {
  @include font-face(Overpass, Black, $font-black);
  font-display: swap;
}

@font-face {
  @include font-face(Overpass, Bold, $font-bold);
  font-display: swap;
}

@font-face {
  @include font-face(Overpass, Light, $font-light);
  font-display: swap;
}
